<a href="https://colab.research.google.com/github/sree-cola/MachineLearningModels/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SVM- Support Vector Machine-SVC(Support Vector Classifier)

In [ ]:
s=['Congrats,You have won lottery and if you want lottery money,call the lottery numberand get your money',
   'Give your bank details for lottery money',
   'Lottery for sure if bank details verified']
s

['Congrats,You have won lottery and if you want lottery money,call the lottery numberand get your money',
 'Give your bank details for lottery money',
 'Lottery for sure if bank details verified']

In [ ]:
type(s)

list

In [ ]:
#tokeization - Aplitting up data into differnt values called tokens
s[1].split()

['Give', 'your', 'bank', 'details', 'for', 'lottery', 'money']

In [ ]:
#1.COUNTVECTORIZER()-says (how relevant a word is to a sentence/ddocument)
from sklearn.feature_extraction.text import CountVectorizer
vect=CountVectorizer(stop_words='english')
op=vect.fit_transform(s).toarray()
#stopwords -are english words which donot add extreme meaning to the sentence
#the transformation is done in such a way that the meaning of the sentence is not sacrificed

In [ ]:
op

array([[0, 1, 0, 3, 2, 1, 0, 0, 1, 1],
       [1, 0, 1, 1, 1, 0, 0, 0, 0, 0],
       [1, 0, 1, 1, 0, 0, 1, 1, 0, 0]])

In [ ]:
import pandas as pd
df=pd.DataFrame(op,columns = vect.get_feature_names())
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,bank,congrats,details,lottery,money,numberand,sure,verified,want,won
0,0,1,0,3,2,1,0,0,1,1
1,1,0,1,1,1,0,0,0,0,0
2,1,0,1,1,0,0,1,1,0,0

In [ ]:
#2Tf-IDF VECTORIZER
#TF-Term frequncy,IDF-Inverse Document Frequency
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer(stop_words='english')
op=vect.fit_transform(s).toarray()

In [ ]:
import pandas as pd
df=pd.DataFrame(op,columns =vect.get_feature_names())
df

NameError: ignored

In [ ]:
#SVC MODEL
#dataset-Spamham dataset

In [ ]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/diazoniclabs/Machine-Learning-using-sklearn/master/Datasets/spam.tsv',sep='\t')
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [ ]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
#divide the data into input and output
#input-message
#output-label

In [ ]:
x=df.iloc[:,1].values #only when text messages are involved input is 1Dd
y=df.iloc[:,0].values
print(x)
print(y)

['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'
 'Ok lar... Joking wif u oni...'
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"
 ... 'Pity, * was in mood for that. So...any other suggestions?'
 "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"
 'Rofl. Its true to its name']
['ham' 'ham' 'spam' ... 'ham' 'ham' 'ham']

In [ ]:
#3Train test and split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,random_state=0)

In [ ]:
#Apply Tfidf/Count Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer()
x_train_v=vect.fit_transform(x_train)#transformed data
x_test_v=vect.transform(x_test)#transformed data

In [ ]:
#Apply a Classifier/Regresor/Clusterer
from sklearn.svm import  SVC
model =SVC()

In [ ]:
#model fitting
model.fit(x_train_v,y_train)

SVC()

In [ ]:
#predict the ouput
y_pred=model.predict(x_test_v)
y_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
y_test

array(['ham', 'spam', 'ham', ..., 'spam', 'ham', 'ham'], dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

98.56424982053123

In [ ]:
#Evaluating a specific message
a=df['message'][10]
a

"I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today."

In [ ]:
a=vect.transform([a])
model.predict(a)

array(['ham'], dtype=object)

In [ ]:
b="win free tickets"
b

'win free tickets'

In [ ]:
b=vect.transform([b])
model.predict(b)

array(['spam'], dtype=object)

In [ ]:
#List of event
#W1.Gather data and create Dataframe
#2.Divided the data into i/p and o/p
#3.train_test_split
#4.Apply TfidVectorizer
#5.Apply SVC
#6.Predicted the ouput

In [ ]:
#For Deployment we have to combine TfidfVectorizer and SVC together
#To combine modules, we using a technique called as pipelining

In [ ]:
#pipline in sklearn -JOIN two or more modules

In [ ]:
from sklearn.pipeline import make_pipeline
text_model=make_pipeline(TfidfVectorizer(),SVC())

In [ ]:
#FIT MY The pipeling model
text_model.fit(x_train,y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()), ('svc', SVC())])

In [ ]:
#predic the ouput
y_pred1=text_model.predict(x_test)
y_pred1

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
#to check the accuracy of piplelined model
accuracy_score(y_pred1,y_test)*100

98.56424982053123

In [ ]:
#evaluate a specific message
a1=df['message'][2]
a1

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [ ]:
a1= vect.transform([a1])
model.predict(a1)

array(['spam'], dtype=object)

In [ ]:
#joblib-1.dumo 2.load
import joblib
joblib.dump(text_model,'spam-ham')

['spam-ham']